body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

section {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

label, input {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#flight-list {
    margin-top: 20px;
}

#flight-list > div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
